
name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  BUILD_WRAPPER_OUT_DIR: build_wrapper_output_directory

jobs:
  build:
    runs-on: ubuntu-latest  # Changed from windows-latest to ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential autoconf automake libtool
    
    - name: Install Build Wrapper
      uses: SonarSource/sonarqube-scan-action/install-build-wrapper@v6

    - name: configure
      run: ./configure

    - name: Build with SonarQube wrapper
      run: |
        build-wrapper-linux-x86-64 --out-dir ${{ env.BUILD_WRAPPER_OUT_DIR }} make

    - name: make check
      run: make check

    - name: make distcheck
      run: make distcheck

  
