name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  BUILD_WRAPPER_OUT_DIR: build_wrapper_output_directory

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential autoconf automake libtool
    
    - name: Install Build Wrapper
      uses: SonarSource/sonarqube-scan-action/install-build-wrapper@8b92d6ce74c45b0d0031f8cdacee8b5b0cbf9c5a

    - name: configure
      run: ./configure

    - name: Build with SonarQube wrapper
      run: |
        build-wrapper-linux-x86-64 --out-dir ${{ env.BUILD_WRAPPER_OUT_DIR }} make

    - name: make check
      run: make check

    - name: make distcheck
      run: make distcheck

    - name: SonarQube Scan
      uses: SonarSource/sonarqube-scan-action@8b92d6ce74c45b0d0031f8cdacee8b5b0cbf9c5a

      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      with:
        args: >
          -Dsonar.projectKey=sania587_notepad-plus-plus
          -Dsonar.organization=sania587
          -Dsonar.projectName=notepad-plus-plus
          -Dsonar.cfamily.compile-commands=${{ env.BUILD_WRAPPER_OUT_DIR }}/compile_commands.json
